@{
}
@model Appointment


<h2>Please enter the details below to confirm your appointment</h2>

<form method="post" asp-action="Appointment">
    <div asp-validation-summary="All">

       
        <div class="form-group">
            <label asp-for="TimeSlot">Timeslot:</label>
            <input value="@ViewBag.TimeSlot" readonly/>
        </div>

        <div class="form-group">
            <label asp-for="NameOfGroup">Group Name:</label>
            <input asp-for="NameOfGroup" required/>
        </div>
        <div class="form-group">
            <label asp-for="GroupSize">Group Size:</label>
            <input asp-for="GroupSize" required/>
        </div>
        <div class="form-group">
            <label asp-for="emailAddress">Email Address:</label>
            <input asp-for="emailAddress" required/>
        </div>
        <div class="form-group">
            <label asp-for="phoneNumber">Phone Number:</label>
            <input asp-for="phoneNumber" required/>
        </div>

    </div>

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Confirm Appointment" />
    </div>


</form>