@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign Up";
}
@model TimeSlot

<p> Select a Date</p>
<button>Previous</button>

@*<input type="hidden" name="timeslotID" value="@Model.TimeSlotID" />*@

<input value="@ViewBag.startDate.Start.Date" />

<!--Supposed to print the appointment times-->

@*@foreach (ViewBag.startDate.Start.Hour in ViewBag.startDate)
{
    @if (ViewBag.startDate.Start.Hour > 8 & ViewBag.startDate.Start.Hour <= 12)
    {
        <input type="button" value="@ViewBag.startDate.Start.Hour AM" />
    }
    else if (ViewBag.startDate.Start.Hour > 12)
    {
        <input type="button" value="@(ViewBag.startDate.Start.Hour - 12) PM" />
    }
}*@

<button>Next</button>








