@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign Up";
}
@model TimeSlot

<p> Select a Date</p>

@foreach (var i in ViewBag.startDate)
{
    <input value="@i.Start.Date.Month/@i.Start.Date.Day/@i.Start.Date.Year" /> <br />

    @if (i.Start.Hour > 8 & i.Start.Hour <= 12)
    {
        <input type="button" value="@i.Start.Hour AM" />
    }
    else if (i.Start.Hour > 12)
    {
        <input type="button" value="@(i.Start.Hour - 12) PM" />
    }

}


<button>Previous</button>




